@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@import "tailwindcss";

@theme {
  --font-cinzel: "Cinzel", serif;
  --font-cormorant: "Cormorant Garamond", serif;
}